<!-- faculty/dashboard/templates/exambranch/dashboard.html -->
{% extends 'base.html' %}
{% load static %}
{% load dashboard_filters %}

{% block title %}
Exam Branch - Teaching Plan
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center mb-4">
        <div class="col-lg-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <div class="row gy-2 justify-content-center mb-3">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Year" value="III" style="width: 80px;" />
                            </div>
                            <div class="col-auto">
                                <span class="align-middle">B.Tech</span>
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Semester" value="I" style="width: 80px;" />
                            </div>
                            <div class="col-auto">
                                <span class="align-middle">Sem Teaching Plan</span>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-3 mb-4">
                        <div class="col-md-4">
                            <label class="form-label fw-bold">Faculty :</label>
                            <input type="text" class="form-control" placeholder="Faculty Name" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label fw-bold">Subject :</label>
                            <input type="text" class="form-control" placeholder="Subject Name" />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label fw-bold">Class :</label>
                            <input type="text" class="form-control" placeholder="Class" />
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">DATE</th>
                                    <th scope="col">DAY OF THE WEEK</th>
                                    <th scope="col">WEEK NO.</th>
                                    <th scope="col">CLASSES PER WEEK</th>
                                    <th scope="col">TOPICS TO BE COVERED</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}